<!DOCTYPE html>
<html>
  <head>
     <title>ht_tr</title>
     <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Googlefont-->
   <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
     <!--font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="/style.css">
  </head>


  <body>
   


  <section  >
     <p id="d"></p>
  <div class="row">
     <div class="col" style="font-family:coiny;padding: 1% 5%;font-weight: bold;color:red;font-size:30px;font-style: italic;">Hotel_Tourism
     </div>
      <div class="col"></div>
      <div class="col"  style="padding: 1% 5%;font-weight: bold;color:green;font-size:15px;font-style: italic;">
        <form class="form-inline " >
            <input type="text" placeholder="Search.." name="search2">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
     </div>

  </div> 
  </section>





<section id="top-nav" >

  <nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgb(255, 217, 179);padding:2% 3%" >
  <a class="navbar-brand" href="/admin" style="font-family: coiny;color:white;">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
   
    </ul>
    <form class="form-inline my-2 my-lg-0" >
    <ul class="navbar-nav mr-auto" style="font-weight:bold;font-family:coiny;" >
      <li id="li" class="nav-item" ><a href="/" style="color:white;margin-left:10px;margin-top:2px;" class="btn btn-outline btn-lg" ><i class="fa fa-home"></i> Home </a></li>
      <li id="li" class="nav-item" ><a href="/HallBook" style="color:white;margin-left:10px;margin-top:2px;" class="btn btn-outline btn-lg"  ><i class="fa fa-home"></i> HallBook </a></li>
      <li id="li" class="nav-item" ><a href="/contact" style="color:white; margin-left:10px;margin-top:2px;"  class="btn btn-outline btn-lg"   ><i class='fas fa-phone'></i> Contact </a></li>
      <li id="li" class="nav-item"><a href="/itemspage" style="color:white; margin-left:10px;margin-top:2px;"  class="btn btn-outline btn-lg" ><i class="fa fa-book"></i> Items</a></li>
      <li id="li" class="nav-item" ><a  style="color:white; margin-left:10px;margin-top:2px;" class="btn btn-outline btn-lg" data-toggle="modal" data-target="#myModal"  ><i class="fa fa-user"></i> Login </a></li>
      <li id="li" class="nav-item"><a  style="color:white; margin-left:10px;margin-top:2px;"  class="btn btn-outline btn-lg" data-toggle="modal" data-target="#myModal2"><i class="fa fa-user"></i> Register </a> </li></ul>
    </form>
  </div>
</nav>
</section>





   
<section id='bookhall' style='margin-top: 10px;'>
    <div style="width:80%; margin:0 auto;background-color:rgb(255, 238, 230);padding: 10px 20px ">
        <div style='font-family: Courier New;font-weight: bold;font-size:30px;text-align: center;'>Book Hall Now</div><hr width="75%">
        <div style='text-align: center;'>Plz try to login first!!! befor booking if you have not logged in
       </div></br>
      <center>
       <form action='/hallbook' method='post'>
         <input class='input-field' type="text" name="fullname" id="fullname" style="width:50%" placeholder="enter your fullname" required autofocus></br></br>
         <input class='input-field' type="number" name="contact" id="contact" style="width:50%" placeholder="enter your contact" required autofocus></br></br>
         <input class='input-field' type="text" name="address" id="address" style="width:50%" placeholder="enter your address" required autofocus></br></br>
         <input type="hidden" name="email" value="<%=email%>">
         <input type="hidden" name="indate" value="<%=indate%>">
         <input type="hidden" name="hallname" value="<%=button%>">

            <button type="submit" class='btn btn-primary' style='padding: 2px 40px;background-color:rgb(51, 153, 255);color:white;font-weight:bold;' name="btn" value="offline">Book Offline</button>
            <button type="submit" class='btn btn-primary' style='padding: 2px 40px;background-color:rgb(51, 153, 255);color:white;font-weight:bold;' name="btn" value="online">Book Online</button>
            
            </br> </br>
            <div style='text-align: center;color:rgb(0, 0, 102);'>You need to pay an advance of 200 Rs after booking on the <span style='color:black;font-weight: bold;'>7004155914</span>  using paytm  or phone pay and mail receipt  to jeesatyapal@gmail.com for final submission</div>
       </form>
      </center>
      
       
    </div>
</section>


<%-include('footer')-%>

  </body>
  </html>