<!DOCTYPE html>
<html>
  <head>
     <title>ht_tr</title>
     <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Googlefont-->
   <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
     <!--font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="/style.css">
  </head>

<body>
 <section style="background-color: black;color:white;">
   <div id="work-in-progress">
        <div class="work-spinner"></div>
    </div>

    <div class="row">
      <div class="col-lg-6">
      </div>

      <div class="col-lg-6">
          <div class="row">
            <div class="col">Map
            </div>
            <div class="col">Location
            </div>
            <div class="col">Tenders
            </div>
            <div class="col">jobs
            </div>
            <div class="col">Webmail
            </div>
            
          </div>
      </div>

    </div>
  </section>

  <section  >
    <p id="d"></p>
  <div class="row">
     <div class="col" style="font-family:coiny;padding: 1% 5%;font-weight: bold;color:red;font-size:30px;font-style: italic;">Hotel_Tourism
     </div>
      <div class="col"></div>
      <div class="col"  style="padding: 1% 5%;font-weight: bold;color:green;font-size:15px;font-style: italic;">
        <form class="form-inline " >
            <input type="text" placeholder="Search.." name="search2">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
     </div>

  </div> 
     
 <section id="top-nav" >



  <nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgb(255, 217, 179);padding:2% 3%" >
  <a class="navbar-brand" href="/admin" style="font-family: coiny;color:black;">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
   
    </ul>
    <form class="form-inline my-2 my-lg-0" >
    <ul class="navbar-nav mr-auto" style="font-weight:bold;font-family:georgia;" >
      <li id="li" class="nav-item" ><a href="/" style="color:white;margin-left:10px;margin-top:2px;" class="btn btn-outline btn-lg" ><i class="fa fa-home"></i> Home </a></li>
      <li id="li" class="nav-item" ><a href="/HallBook" style="color:white;margin-left:10px;margin-top:2px;" class="btn btn-outline btn-lg"  ><i class="fa fa-home"></i> HallBook </a></li>
      <li id="li" class="nav-item" ><a href="/contact" style="color:white; margin-left:10px;margin-top:2px;"  class="btn btn-outline btn-lg"   ><i class='fas fa-phone'></i> Contact </a></li>
      <li id="li" class="nav-item"><a href="/itemspage" style="color:white; margin-left:10px;margin-top:2px;"  class="btn btn-outline btn-lg" ><i class="fa fa-book"></i> Items</a></li>
      <li id="li" class="nav-item" ><a  style="color:white; margin-left:10px;margin-top:2px;" class="btn btn-outline btn-lg" data-toggle="modal" data-target="#myModal"  ><i class="fa fa-user"></i> Login </a></li>
      <li id="li" class="nav-item"><a  style="color:white; margin-left:10px;margin-top:2px;"  class="btn btn-outline btn-lg" data-toggle="modal" data-target="#myModal2"><i class="fa fa-user"></i> Register </a> </li></ul>
    </form>
  </div>
</nav>
  </section>


































